@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");

body {
	color: white;
	margin: 0;
	background: #1b1a28;
	margin: 0;
	padding: 0;
	height: 100vh;
}

img {
	max-width: 100%;
}

li,
ul {
	list-style: none;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin: 5%;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	border-top: 1px solid #fff;
}

.ul-socialMedias {
	display: flex;
	gap: 15px;
}

.imagem-pokemon,
.constImg-windowPokemon {
	display: flex;
	position: relative;
	width: 70%;
	margin-left: 5%;
}

.imagem-poke {
	width: 40%;
	height: 200px;
}

.pokemon-sobre,
.window-informationPokemon {
	margin-left: 15%;
	font-family: "Lato", sans-serif;
}

.pokemon-info {
	display: flex;
	flex-direction: column;
}

.modal-title,
.h2Window {
	display: flex;
	width: 95%;
	font-weight: bold;
	text-transform: capitalize;
}

.weight {
	width: 8%;
	position: absolute;
	left: 50%;
	top: -8vh;
}

.height-pokemon,
.height-pokemonScreen {
	display: flex;
	gap: 10px;
	font-weight: bold;
}

.weight-pokemon,
.weight-pokemonScreen {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.ruler {
	width: 10%;
	position: absolute;
	left: 50%;
	top: -20vh;
}

.tamanho-span {
	position: relative;
}

.medida-span {
	position: relative;
}

.types-sobre {
	display: flex;
	flex-direction: column;
}

.types-container,
.window-types {
	display: flex;
	font-family: "Lato", sans-serif;
	gap: 10px;
	font-weight: bold;
}

.pLoadingMore .container {
	padding: 40px;
	margin: 0 auto;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 54px;
	color: #4b12bd;
}



.card::after {
	content: "";
	display: block;
	width: 50%;
	height: 55%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	top: 0%;
	left: 25%;
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #f3b250;
}

.grass {
	background: #8bed64;
}

.electric {
	background-color: rgb(241, 241, 108);
}

.water,
.ice {
	background-color: #b2ebe1;
}

.ground {
	background-color: #f9873f;
}

.rock {
	background-color: #db9966;
}

.fairy {
	background-color: #efb7f9;
}

.poison {
	background-color: #ed69f9;
}

.bug {
	background-color: #48c815;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #f38b85;
}

.flying {
	background-color: #89bdff;
}

.fighting {
	background-color: #ff5683;
}

.normal {
	background-color: rgb(231, 167, 231);
}

.ghost {
	background-color: #7600a9;
}

.dark {
	background-color: #5a566a;
}

.steel {
	background-color: #808080;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
	font-family: "Lato", sans-serif;
	font-weight: bold;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	gap: 5px;
	font-weight: bold;
}

.card-image {
	width: 160px;
	height: 180px;
	position: relative;
	z-index: 2;
}

.card-subtitle .grass {
	background: 5px center no-repeat rgb(28, 216, 14);
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .poison {
	background: 5px center no-repeat #f149ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .fire {
	background: 5px center no-repeat #ff9900;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .bug {
	background: 5px center no-repeat #7bcf00;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .dark {
	background: 5px center no-repeat #403d48;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .dragon {
	background: 5px center no-repeat #0076ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .electric {
	background: 5px center no-repeat #ffde00;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .fairy {
	background: 5px center no-repeat #ff76ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .fighting {
	background: #ff215b;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .normal {
	background: 5px center no-repeat rgb(221, 175, 221);
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .flying {
	background: 5px center no-repeat #89bdff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .steel {
	background: 5px center no-repeat #808080;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .ground {
	background: 5px center no-repeat #ff6b0d;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .ghost {
	background: 5px center no-repeat #6000a9;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .ice {
	background: 5px center no-repeat #2ee4c6;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .psychic {
	background: 5px center no-repeat #ff6c64;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .rock {
	background: 5px center no-repeat #d8bc5a;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.card-subtitle .water {
	background: 5px center no-repeat #14a8ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}



.btn[data-type="water"] {
	background: #2ee4c6;
}

.btn[data-type="fire"] {
	background: #e2a64b;
}

.btn[data-type="grass"] {
	background: rgb(91, 241, 91);
}

.btn[data-type="ice"] {
	background: #2ee4c6;
}

.btn[data-type="dark"] {
	background: #403d48;
}

.btn[data-type="flying"] {
	background: #89bdff;
}

.btn[data-type="rock"] {
	background: #d8bc5a;
}

.btn[data-type="ground"] {
	background: #ff6b0d;
}

.btn[data-type="normal"] {
	background: rgb(221, 175, 221);
}

.btn[data-type="psychic"] {
	background: #ff6c64;
}

.btn[data-type="ghost"] {
	background: #6000a9;
}

.btn[data-type="fighting"] {
	background: #f77a9b;
}

.btn[data-type="steel"] {
	background: #808080;
}

.btn[data-type="fairy"] {
	background: #ff76ff;
}

.btn[data-type="poison"] {
	background: #ed69f9;
}

.btn[data-type="electric"] {
	background: rgb(233, 233, 158);
}

.btn[data-type="dragon"] {
	background: #0076ff;
}

.btn[data-type="bug"] {
	background: #7bcf00;
}


.status-container {
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
	font-weight: bold;
}

.pokemon-status,
.right-windowPokemon {
	display: flex;
	align-items: center;
	font-family: "Lato", sans-serif;
	font-weight: bold;
}

.container-poke {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hp {
	align-items: center;
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	width: 100px;
	margin-bottom: 15%;
}

.defense {
	align-items: center;
	display: flex;
	text-transform: capitalize;
	justify-content: space-between;
	width: 100px;
	margin-bottom: 15%;
}

.attack {
	align-items: center;
	display: flex;
	text-transform: capitalize;
	width: 100px;
	justify-content: space-between;
	margin-bottom: 15%;
}

.spc-atk {
	align-items: center;
	display: flex;
	text-transform: capitalize;
	width: 100px;
	justify-content: space-between;
	margin-bottom: 15%;
}

.sp-def {
	align-items: center;
	display: flex;
	text-transform: capitalize;
	width: 100px;
	justify-content: space-between;
	margin-bottom: 15%;
}

.speed {
	display: flex;
	align-items: center;
	text-transform: capitalize;
	width: 100px;
	justify-content: space-between;
}

.modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(6, 11, 40, 0.15);
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(113, 112, 112, 0.5);
	padding: 16px;
	display: inline;
	z-index: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	width: 60%;
}

.fechando-modal {
	display: none;
}

.container-svg {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
	font-weight: bold;
}

.tamanho-peso {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.modal-close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	color: #fff;
	border: none;
	font-size: 16px;
	line-height: 1;
	cursor: pointer;
	padding: 5px;
}

.modal-close-button:hover {
	color: #ccc;
}

.modal-close-button:focus {
	outline: none;
}

.modal-overlay .ativa {
	display: block;
}

@keyframes bounce {
	20% {
		transform: translateY(-6px);
	}

	40% {
		transform: translateY(0px);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}

.pLoadingMore {
	border-radius: 10%;
	text-align: center;
	color: #fff;
	padding: 10px;
	text-transform: capitalize;
}

.types-container .grass,
.pLoadingMore .grass {
	background: 5px center no-repeat rgb(58, 137, 53);
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .poison,
.pLoadingMore .poison {
	background: #f149ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .fire,
.pLoadingMore .fire {
	background: #ff9900;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .bug,
.pLoadingMore .bug {
	background: #7bcf00;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .dark,
.pLoadingMore .dark {
	background: #403d48;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .water,
.pLoadingMore .water {
	background: #14a8ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .normal,
.pLoadingMore .normal {
	background: rgb(221, 175, 221);
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .fairy,
.pLoadingMore .fairy {
	background: #ff76ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .steel,
.pLoadingMore .steel {
	background: #808080;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .ghost,
.pLoadingMore .ghost {
	background: #6000a9;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .psychic,
.pLoadingMore .psychic {
	background: #ff6c64;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .flying,
.pLoadingMore .flying {
	background: #89bdff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .fighting,
.pLoadingMore .fighting {
	background: #ff215b;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .ice,
.pLoadingMore .ice {
	background: #7bcf00;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .dragon,
.pLoadingMore .dragon {
	background: #0076ff;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .electric,
.pLoadingMore .electric {
	background: #ffde00;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .rock,
.pLoadingMore .rock {
	background: #d8bc5a;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.types-container .ground,
.pLoadingMore .ground {
	background: #ff6b0d;
	color: #fff;
	padding: 10px;
	border-radius: 10%;
	text-transform: capitalize;
}

.input-poke {
	border: none;
	outline: none;
	font-family: "Lato", sans-serif;
	color: #17141d;
	font-weight: bold;
	border-radius: 2px;
	width: 40%;
	text-align: center;
	padding: 15px;

}

.container-input {
	display: flex;
	justify-content: center;
	margin-bottom: 5%;

	gap: 20px;
}

.btn-input {
	outline: none;
	border: none;
	background: rgb(255, 187, 17);
	color: #fff;
	font-family: "Lato", sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	border-radius: 0.4rem;
}

.btn-top {
	width: 60px;
	height: 39px;
	margin: 0.2rem;
	transition: all 0.1s ease 0s;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 5px;
	background: transparent;
	border: 1px solid rgb(255, 255, 255);
}

.btn-top:hover {
	background: #ffdd64;
}

.btn-top img {
	height: 20px;
}

#svg1 {
	fill: #fff;
	color: #fff;
}

.container-types {
	display: grid;
	margin-left: 5%;
	margin-right: 5%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-bottom: 5%;
	gap: 15px;


}

.btn-types {
	border: none;
	color: #fff;
	list-style: none;
	color: rgb(255, 255, 255);
	margin: 0.4rem;
	font-size: 1rem;
	padding: 0.5rem 2.5rem;
	border-radius: 0.4rem;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
	width: 100%;
	gap: 20px;

}

.btn-carregar {
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-weight: bold;
	font-family: "Lato", sans-serif;
	padding: 5px;
	color: #fff;
	list-style: none;
	color: rgb(255, 255, 255);
	margin: 0.4rem;
	font-size: 1rem;
	padding: 0.2rem 1.5rem;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	font-size: 1.5rem;
	transition: all 0.2s ease 0s;
}

.btn-carregar:hover {
	background: #ffff30;
}

.container-back {}

.container-search {
	margin-bottom: 5%;
	display: flex;
	justify-content: center;
	height: 0;
}

.left {
	margin-left: 15%;
}

.right {
	margin-right: 5%;
}

.container-total {
	display: flex;
	gap: 15px;
}

.paragrafo-search {
	font-family: "Lato", sans-serif;
	width: 40%;
	border: none;
	color: #fff;
	list-style: none;
	color: rgb(255, 255, 255);
	margin-left: 2%;
	font-size: 1rem;
	padding: 0.2rem 1.5rem;
	border-radius: 0.4rem;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
	margin-bottom: 5%;
}

.btn-openModal {
	font-family: "Lato", sans-serif;
	cursor: pointer;
	width: 60%;
	outline: none;
	padding: 5px;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	color: #fff;
	border-radius: 5px;
	margin: 0;
	margin-bottom: 5px;
}





.img-windowPokemon {
	width: 60%;
}

.btn-screen {
	position: absolute;
	top: 5px;
	right: 8px;
	color: #fff;
	border: none;
	font-size: 16px;
	line-height: 1;
	cursor: pointer;
	padding: 5px;
	border-radius: 2%;
}

.window-informationPokemon {
	display: flex;
	flex-direction: column;
}

.loading-hp,
.loading-attack,
.loading-defense,
.loading-spc-atk,
.loading-sp-def,
.loading-speed {
	align-items: center;
	display: flex;
	text-transform: capitalize;
	width: 100px;
	justify-content: space-between;
	margin-bottom: 15%;
	position: relative;
}

.catch-quadrado {
	width: 50%;
	background: #d8bc5a;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 1;
	transform: translateX(-50%);
	transition: all 0.3s;
}

.catch-erro {
	display: flex;
	justify-content: center;
	opacity: 0;
	height: 0;
	margin-bottom: 5%;
}

.img-search {
	max-width: 90%;
	height: 300px;
}

.img-catch {
	width: 30%;
	margin-left: 10%;
	height: 0;
}

.catch-span {
	margin-left: 5%;
}

.catch-quadrado.active {
	opacity: 1;
	transform: translateX(0);
}

.search-side {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: "Lato", sans-serif;
	color: #fff;
	text-transform: capitalize;
	border-radius: 5px;
	align-items: center;
	background: radial-gradient(circle,
			rgb(90, 86, 106) -90%,
			rgb(27, 27, 27) 55%);
	opacity: 1;
	transform: translateX(-110%);
	transition: all 0.3s;
}

.search-side.active {
	opacity: 1;
	transform: translateX(0);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.mysocial-medias {
	display: flex;
	gap: 20px;
}

.container-lodiang {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1080px) {

	/* Estilos para telas com largura máxima de 768px */
	.card {
		width: 50vw;
		margin-bottom: 50px;
	}

	.pokedex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card::after {
		width: 45%;
		left: 28%;
	}


}

@media (max-width: 768px) {


	/* Estilos para telas com largura máxima de 768px */


	.pokedex {
		grid-template-columns: 1fr;
		justify-content: center;
	}



	.card {}

	.search-side {
		margin: 5%;
		grid-template-columns: 1fr;
		width: 400px;
	}


	.card::after {
		width: 60%;
		left: 20%;
	}

	.container-types {
		grid-template-columns: 1fr 1fr;
	}

	.input-poke {
		width: 50%;
	}



	.modal-window {
		transform: translate(-50%, -50%);
		display: grid;
		grid-template-columns: 1fr;
	}

	.pokemon-status {
		display: none;
	}

	.modal-screen {
		transform: translate(-50%, -50%);
		display: grid;
		grid-template-columns: 1fr;
		height: 350px;
		width: 70%;
	}

	.right-windowPokemon {
		display: none;
	}

	.h2Window {
		justify-content: center;
	}

	.window-informationPokemon {
		margin-left: 0;
		align-items: center;
	}

	.constImg-windowPokemon {
		margin-left: 0;
		justify-content: center;
	}

	.pokemon-sobre {
		display: grid;
		justify-content: center;
		margin-left: 0;
	}

	.imagem-pokemon {
		margin-left: 0;
		justify-content: center;
	}
}

@media (max-width: 480px) {

	.catch-erro-container {
		margin-bottom: 15%;
	}

	.imagem-poke {
		width: 70%;
	}

	.catch-quadrado {
		width: 70%;
	}

	.modal-window {
		transform: translate(-50%, -80%);
		display: grid;
		grid-template-columns: 1fr;
	}

	.imagem-pokemon {
		justify-content: center;
		margin-left: 0;
	}

	.search-side {
		margin: 5%;
		grid-template-columns: 1fr;
		width: 400px;
	}

	.img-search {
		height: 320px;
	}

	.btn-openModal {
		width: 58%;
		margin-left: 5px;
	}

	.pokedex {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card {
		width: 90%;
	}

	.card::after {
		width: 70%;
		left: 20%;
	}

	.container-types {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.input-poke {
		width: 50%;
	}

	.pokemon-status {
		display: none;
	}

	.modal-screen {
		transform: translate(-50%, -80%);
		display: grid;
		grid-template-columns: 1fr;
		height: 350px;
		width: 70%;
	}

	.right-windowPokemon {
		display: none;
	}

	.h2Window {
		justify-content: center;
	}

	.window-informationPokemon {
		margin-left: 0;
		align-items: center;
	}

	.constImg-windowPokemon {
		margin-left: 0;
		justify-content: center;
	}
}

.pokedex {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-inline-start: 0;
	margin-left: 5%;
	margin-right: 5%;
	grid-gap: 20px;

}


.card {
	list-style: none;
	color: #fff;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	position: relative;
	margin-bottom: 20%;
	border-end-end-radius: 10px;
	border-end-start-radius: 10px;
	font-family: "Lato", sans-serif;



}

.btn {
	border: none;
	outline: none;
	width: 100%;
	padding: 20px;
	color: #fff;
	text-transform: initial;
	font-size: 1.2rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "Lato", sans-serif;
	cursor: pointer;
	font-weight: bold;
}

.modal-screen,
.imagem .modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(12, 21, 72, 0.179);
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(113, 112, 112, 0.719);
	padding: 16px;
	z-index: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	height: min-content;
	backdrop-filter: blur(1rem);


}

.modal-informationLoading,
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.755);
	z-index: 2;
	display: none;


}

@media (min-width:1920px) {
	.card {
		height: 30rem;
		width: 95%;
	}

	.btn {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.card-title {
		margin-top: 5rem;
	}

	.card::after {
		width: 16rem;
		height: 16rem;
		left: 26%;
		margin-top: 1rem;
	}

	.card-image {
		margin-top: 2rem;
	}

	.container-types {
		gap: 5px 15px;
	}

	.imagem-pokemon {
		margin-left: 15%;
	}
}